<br>
<center>
<div class = "col-md-12" style="display:inline-flex">
<label class="col-md-4">Enter name:</label>
<input type="text" class="form-control col-md-4" name="user-name" id="user_name">
<button class="btn btn-primary col-md-2" id="user-submit">Submit</button>
</div>
</center>
